<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">

                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="javascript:">Dashboard</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Tasks</h5>
                                    </div>
                                    <div class="card-block">
                                        <a href="{{ url_for('photoUpload_blueprint.route_template', template='dashboard.html') }}">
                                            <button type="submit" name="show_stats" title="Show Statistics"
                                                class="btn btn-primary">Show charts</button>
                                        </a>
                                    </div>
                                    <div class="card-block">
                                        <a href='/photoUpload/knownKeys.html'>
                                            <button type="submit" name="delete_all"
                                                title="clear data of RDS, S3 and memcache" class="btn btn-danger">Delete
                                                All</button>
                                        </a>
                                    </div>
                                    <div class="card-block">
                                        <form action='/appManager/clear_cache'>
                                            <button type="submit" name="clear_memcache"
                                                title="clear data of memcache nodes" class="btn btn-warning">Clear
                                                Cache</button>
                                        </form>
                                        {%if cache_msg%}
                                        </br>
                                        <p>Cache Status: {{cache_msg}}</p>
                                        {% endif %}


                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Manual Mode</h5>
                                    </div>
                                    <div class="card-block">
                                        <form action='/appManager/decrease' method="POST">
                                            <button type="submit" name="decrease" title="Decrease number of nodes by 1"
                                                class="btn btn-square btn-secondary">Decrease</button>
                                        </form>
                                        <form action='/appManager/increase' method="POST">
                                            <button type="submit" title="Increase number of nodes by 1" name="increase"
                                                class="btn btn-square btn-success">Increase</button>
                                        </form>

                                    </div>
                                    {%if msg%}
                                    </br>
                                    <p>Number of active nodes: {{msg}}</p>
                                    {% endif %}

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- FORMS -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- SAMPLE FORM START-->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Automatic Mode</h5>
                                    </div>
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <form action='/appManager/config' method="POST"
                                                    enctype="multipart/form-data">
                                                    <div class="form-group">
                                                        <label for="exampleFormControlSelect1">Select Replacement Policy</label>
                                                        <select name="replacement_policy" class="form-control" id="exampleFormControlSelect1">
                                                            <option value="LRU">LRU</option>
                                                            <option value="random">RR</option>
                                                            <option value="no_cache">No Cache</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="key">capacity in MB</label>
                                                        <input type="number" class="form-control" id="key" name="capacity" placeholder="Enter the key">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleFormControlSelect1">Example select</label>
                                                        <select class="form-control" id="exampleFormControlSelect1" name="mode">
                                                            <option value="manual">Manual</option>
                                                            <option value="auto">Automatic</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Max_miss_threshold">Max_miss_threshold</label>
                                                        <input type="number" step="0.01" class="form-control" id="Max_miss_threshold"
                                                            name="Max_miss_threshold"
                                                            placeholder="Enter the Max miss rate threshold"
                                                            value={{Max_rate_threshold}}>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Min_miss_threshold">Min_miss_threshold</label>
                                                        <input type="number" step="0.01" class="form-control" id="Min_miss_threshold"
                                                            name="Min_miss_threshold"
                                                            placeholder="Enter the Min miss rate threshold"
                                                            value={{Min_rate_threshold}}>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="ratio_expand">ratio_expand</label>
                                                        <input type="number" step="0.01" class="form-control" id="ratio_expand"
                                                            name="ratio_expand"
                                                            placeholder="Enter the ratio by which to exapnd the pool"
                                                            value={{ratio_exapnd}}>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="ratio_shrink">ratio_shrink</label>
                                                        <input type="number" step="0.01" class="form-control" id="ratio_shrink"
                                                            name="ratio_shrink"
                                                            placeholder="Enter the ratio by which to shrink the pool"
                                                            value={{ratio_shrink}}>
                                                    </div>

                                                    <button type="submit" name="update_parameters"
                                                        class="btn btn-primary">Update parameters</button>
                                                </form>
                                                {%if curr_config%}
                                                </br>
                                                <p>Current Config: {{curr_config}}</p>
                                                {% endif %}
                                                <!--
                                                <form action="{{ url_for('photoUpload_blueprint.putPhoto') }}" method="post" enctype="multipart/form-data">
                                                    <div class="form-group">
                                                        <label for="key">Key</label>
                                                        <input type="text" class="form-control" id="key" name="key" placeholder="Enter the key">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="value">Image</label>
                                                        <input type="file" class="form-control" id="value" name="image" placeholder="Enter the Value">
                                                    </div>
                                                    <button type="submit" name="savePhoto" class="btn btn-primary">Upload New Image</button>
                                                </form>
                                                
                                                -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- SAMPLE FORM END-->


                                <!-- Input group -->

                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- [ Main Content ] end -->